.jumbobox {
  background-color: pink;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 5%;
  background-image: url(../../assets/diamonds-background..svg);
  position: relative;
  box-shadow: 5px 5px 10em #333;
  z-index: 97;
}

.logo-container {
  position: center;
  margin: auto;
  width: 150px;
  height: 150px;
  will-change: transform;
  padding-bottom: 60px;
  padding-top: 0px;
}
.jumbotron-h1 {
  padding-top: 20px;
  color: whitesmoke;
}

.social-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.bio-p {
  color: whitesmoke;
  text-shadow: white 0px 0px 8px;
  font-size: 25px;
}

.cool-gradient {
  background: linear-gradient(
    to left,
    #000 20%,
    #494f9c 30%,
    #dac444 70%,
    #000 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 5s ease-in infinite;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
