.jumbobox {
  background-color: pink;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url(../../assets/diamonds-background..svg);
  position: relative;
  box-shadow: 5px 5px 10em #333;
  z-index: 97;
}

.logo-container {
  position: center;
  margin: auto;
  width: 250px;
  height: 250px;
  will-change: transform;
  padding-bottom: 60px;
  padding-top: 0px;
}
.jumbotron-h1 {
  padding-top: 20px;
}
.jumbotron-h2 {
  text-shadow: white 0px 0px 10px;
}
.jumbobox .jumbobox-image {
  position: relative;
  border-radius: 15px;
  margin: auto;
  width: 70%;
  height: 100%;
  background-image: url(../../assets/glacier.jpg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 98;
}
.social-icon {
  margin-left: 10px;
  margin-right: 10px;
}
