@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
h2 {
  font-size: 28px;
  color: black;
}
.button-menu {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
