.bio {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 96;
}
.cool-title {
  text-align: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: skyblue;
  text-shadow: -1px -1px 0 blue, -2px -2px 0 blue, -3px -3px 0 blue,
    -4px -4px 0 darkblue, -5px -5px 0 darkblue, -6px -6px 0 darkblue,
    -7px -7px 0 darkblue, -8px -8px 0 blue, -30px 20px 40px dimgrey;
}
.bio-p {
  text-shadow: white 0px 0px 10px;
  font-size: 40px;
}

.cool-gradient {
  background: linear-gradient(
    to left,
    #000 20%,
    #1724e4 30%,
    #44dad8 70%,
    #000 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 3s ease-in infinite;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
